body {
  background: #000;
  font-family: Inter, sans-serif;
  color: #e0e0e0;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #d3d3d3;
}

.label {
  font-size: 0.75rem;
}

.intro {
  margin-left: -2.5rem;
  padding-top: 10%;
}

.director {
  margin-top: 1rem;
  letter-spacing: 0.3rem;
}

.crew {
  margin-top: 10rem;
  font-size: 0.75rem;
  letter-spacing: 0.025rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.crew > div {
  width: 49%;
  margin-bottom: 0.5rem;
}

.crew > div:nth-child(odd) {
  text-align: right;
}

.crew > div:nth-child(even) {
  text-align: left;
}

.credits {
  animation: 40s scrollUp forwards;
}

@keyframes scrollUp {
  from {
    margin-top: 0rem;
  }
  to {
    margin-top: -100rem;
  }
}