@include ("https://cdnjs.cloudflare.com/ajax/libs/inter-ui/4.0.2/inter.css"):
  root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1;
  /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

body {
  margin: 0;
  background-color: black;
}

#container {
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  filter: brightness(70%);
}
#videobcg {
  width: inherit;
  height: inherit;
  filter: blur(5px);
  object-fit: cover;
  transform: scale(1.2);
}

.logo {
  position: absolute;
  top: 40vh;
  left: 20vw;
  right: 20vw;
  z-index: 300000;
  width: 70vw;
  margin: -332 0 0 -1500;
}

.above-video {
  position: absolute;
  bottom: 1vh;
  left: 50%;
  right: 50%;
  z-index: 300000;
  /* width: 70vw; */
  /* margin: -332 0 0 -1500; */
}
.above-video-2 {
  position: relative;
  /* bottom: 20vh; */
  /* left: 44%; */
  /* z-index: 300000; */
  /* width: 70vw; */
  /* margin: -332 0 0 -1500; */
}
