@include ("https://cdnjs.cloudflare.com/ajax/libs/inter-ui/4.0.2/inter.css"):
  root {
  font-family: Inter, sans-serif;
  font-feature-settings:
    "liga" 1,
    "calt" 1;
  /* fix for Chrome */
}

@supports (font-variation-settings: normal) {
  :root {
    font-family: InterVariable, sans-serif;
  }
}

body {
  margin: 0;
  background-color: black;
  overflow: hidden;
}

#container {
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow: hidden;
  filter: brightness(70%);
}
#videobcg {
  width: inherit;
  height: inherit;
  filter: blur(5px);
  object-fit: cover;
  transform: scale(1.2);
}

.above-video {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 1vh;
  margin-left: auto;
  margin-right: auto;
  width: 100vw;
  height: 100vh;
  vertical-align: middle;
  z-index: 300000;
  /* width: 70vw; */
  /* margin: -332 0 0 -1500; */
}
